.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-text {
  font-size: x-large;
  color: #333;
}

.loading-text {
  font-size: medium;
  color: #666;
}



